
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* Google Font */
.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  
}

body {

    font-family: "Chewy", "Sans-Serif";
    background-color: lightgray;
    font-size: xx-large;
    text-align: center;
    flex-direction: column;
    
}
.euro{
width: 100%;
padding: 4%; 
display: flex;
flex-wrap: wrap;
justify-content: space-around;
box-sizing: border-box; 
}


.board {
width: 100%;
max-width: 100%;
background-color: darkslategrey;
padding: 4%; 
display: flex;
flex-wrap: wrap;
justify-content: center;
 margin: 0 auto;
}


button {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(131, 127, 127);
    height: 10%;
    width: 25%;
    margin: 1rem;
   display: flex;
   justify-content: space-around;
   box-sizing: border-box;
  }

  #play{
  text-align: center;
  font-family:"chewy";
  margin-left: 35%;
  margin-top: 5%;
  padding: 20px;
  box-sizing: border-box;
    }

/*styling for navigation bar*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
}

.topnav {
  background-color:dimgray;
  color: black;
  text-decoration: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.topnav a {
  float: inline-start;
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 10px; 
}

.icon {
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none; 
}

.active {
  background-color: #04AA6D;
  color: white;
}


.hidden {
    display: none;
}

footer {
    margin-top: 35%;
    font-size: medium;
    color: black;
}

  #result {
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  #result img{
    margin-top:10px;
    }

    .play{
      color: white;
 
    }

@media (max-width: 768px) {
    .topnav {
      display: none; 
      flex-direction: column;
      width: 100%;
      background-color: #333;
      position: absolute;
      z-index: 1;
    }

     .topnav.show {
                display: flex; 
            }

    .icon {
        display: block; 
    }
  }


  
/* instructions*/

#euro10 {
   color:red;
  }
#euro50 {
  color: orange;
}
#euro100 {
  color:green; 
}

#luck{
  padding: 10%;
}